:root {
  --brand-color_1: #95ffbd;
  --brand-color_2: #95ffe3;
  --brand-color_3: #e2ffed;
  --brand-color_4: #8fe6d3;
  --brand-color_5: #ffb895;
  --brand-color_6: #d28fe6;
  --brand-color_7: #9a95ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
