:root {
  --brand-color_1: rgb(143, 230, 211);
  --brand-color_2: rgb(210, 143, 230);
  --brand-color_3: rgb(154, 149, 255);
  --brand-color_4: rgb(255, 184, 149);
  --brand-color_5: rgb(226, 226, 226);
  --theme-body-bg: #18061f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 100%;
  overflow: hidden scroll;
}
